body{
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link
{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #27a330;
}
